<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
    <ion-title class="ion-text-wrap">Das Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-chip *ngFor="let m of selectedMonsters">
	  <ion-icon name="star" color="tertiary"></ion-icon>
	  <ion-label class="ion-text-wrap">{{m.name}}</ion-label>
	  <ion-icon name="close" (click)="toggleIsSelected(m.id)"></ion-icon>
	</ion-chip>


	<ion-list>
		<ion-item-sliding  *ngFor="let m of selectedMonsters">
			<ion-item detail [routerLink]="['/detail-monster', m.id]" routerDirection="forward" color="light">
				<ion-avatar slot="start">
					<img src="https://via.placeholder.com/300x300">
				</ion-avatar>
				<ion-label class="ion-text-wrap">{{m.name}}</ion-label>
				<ion-note slot="end">(notes (coming soon))</ion-note>
			</ion-item>

			<ion-item-options slot="start">
    	</ion-item-options>
			<ion-item-options slot="end">
				<ion-item-option color="medium" (click)="toggleIsSelected(m.id)">
					<ion-icon slot="start" [name]="m.isSelected? 'star' : 'star-outline'"></ion-icon>
					{{ m.isSelected? 'austreten' : 'ins Team' }}
				</ion-item-option>
			</ion-item-options>
			</ion-item-sliding>


		<!-- for space at the bottom, fab-btn not over last entry -->
		<ion-item lines="none"></ion-item>
	</ion-list>
</ion-content>
