<ion-toolbar mode="md" class="header header--sticky">
  <ion-buttons slot="start">
    <ion-button (click)="headerIsExpanded = !headerIsExpanded">
      <ion-icon [name]="headerIsExpanded ? 'caret-up' : 'caret-down'"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-searchbar
    showCancelButton="focus"
    placeholder="{{ 'sticky-header.search-placeholder' | translate }}"
    animated
    color="primary"
    class="ion-text-capitalize"
    [value]="filter.name"
    (ionChange)="searchbarChanged.emit($event.target.value)"
  >
  </ion-searchbar>

  <ion-buttons slot="end">
    <ion-button (click)="openTypeOverview($event)">
      <ion-icon name="list"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>