<ion-item
    class="list-row"
    detail
    lines="full"
    [routerLink]="['/monster-detail', item.id]"
    routerDirection="forward">
    
    <ion-avatar>
      <img [src]="item.showThumbnail">
    </ion-avatar>
    
    <div class="row__center">
      <ion-text class="ion-text-wrap">{{ item.name }}</ion-text>

      <div class="row__types-container">
        <ion-button
          *ngFor="let type of item.types"
          size="small" shape="round" color="tertiary"
          class="type-btn"
          (click)="openTypeDescription($event, type)">
          <ion-icon [name]="type.icon" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-item>