<app-named-header [item]="monster"></app-named-header>

<ion-content *ngIf="monster">

  <main class="container">
    <ion-img [src]="monster.showImage" class="cover-image"></ion-img>
    <div class="types">
      <app-type *ngFor="let type of monster.types" [type]="type"></app-type>
    </div>
  
    <ion-list>
      <!-- Allgemeines -->
      <ion-item-group>
        <app-list-topping title="{{ 'monster-detail.topics.general' | translate }}"></app-list-topping>
  
        <ion-item *ngFor="let field of generalFields" lines="full">
          <ion-label>
            <p class="label ion-text-wrap">{{ ('monster-detail.fields.' + field) | translate }}</p>
            <h2 class="value ion-text-wrap">{{ monster[field] }}
              <span *ngIf="field === 'height'">m</span>
              <span *ngIf="field === 'weight'">kg</span>
            </h2>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  
   <ion-list>
      <!-- Typen -->
      <ion-item-group>
        <app-list-topping title="{{ 'efficiencies' | translate }}"></app-list-topping>
        <app-efficiencies [types]="types" [showAsFrom]="false"></app-efficiencies>
      </ion-item-group>
    </ion-list>
  
    <ion-list>
      <!-- Attacken -->
      <ion-item-group>
        <app-list-topping title="{{ 'attacks' | translate }}"></app-list-topping>
  
        <app-filter-list-item 
          *ngFor="let attack of monster.attacks"
          [item]="attack"
          [routerLink]="['/attack-detail', attack.id]">
        </app-filter-list-item>
  
      </ion-item-group>
    </ion-list>
    
    <ion-list>
      <!-- Entwicklung -->
      <ion-item-group *ngIf="monster.preMonsters?.length || monster.afterMonsters?.length">
        <app-list-topping title="{{ 'monster-detail.topics.evolution' | translate }}"></app-list-topping>
  
        <app-filter-list-item 
          *ngFor="let mon of monster.preMonsters"
          [item]="mon"
          [routerLink]="['/monster-detail', mon.id]">
        </app-filter-list-item>
  
        <app-filter-list-item class="evolution--this"
          [item]="monster"
          [routerLink]="">
        </app-filter-list-item>
  
        <app-filter-list-item 
          *ngFor="let mon of monster.afterMonsters"
          [item]="mon"
          [routerLink]="['/monster-detail', mon.id]">
        </app-filter-list-item>
  
      </ion-item-group>
    </ion-list>
  
    <ion-list>
      <!-- gegenteilmonster -->
      <ion-item-group *ngIf="monster.oppositeMonsters?.length">
        <app-list-topping title="{{ 'monster-detail.topics.opposite' | translate }}"></app-list-topping>
  
        <app-filter-list-item 
          *ngFor="let mon of monster.oppositeMonsters"
          [item]="mon"
          [routerLink]="['/monster-detail', mon.id]">
        </app-filter-list-item>
  
      </ion-item-group>
    </ion-list>
  
    <ion-list>
      <!-- aehnliche Formen -->
      <ion-item-group *ngIf="monster.formMonsters?.length">
  
        <app-list-topping title="{{ 'monster-detail.topics.forms' | translate }}"></app-list-topping>
  
        <app-filter-list-item 
          *ngFor="let mon of monster.formMonsters"
          [item]="mon"
          [routerLink]="['/monster-detail', mon.id]">
        </app-filter-list-item>
  
      </ion-item-group>
    </ion-list>
  </main>
</ion-content>
