<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="attack" class="ion-text-wrap">{{ attack.name }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openTypeOverview($event)">
        <ion-icon name="information"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="attack">
  <app-type *ngFor="let type of attack.types" [type]="type"></app-type>

  <ion-list>
    <!-- Allgemeines -->
    <ion-item-group>
      <ion-item-divider sticky="true">
        <ion-item slot="end" color="secondary" class="topic">
          <ion-label class="ion-text-wrap">Allgemeines</ion-label>
        </ion-item>
      </ion-item-divider>

      <ion-item *ngFor="let field of generalFields" lines="full">
        <ion-label>
          <p class="label ion-text-wrap">{{ field }}</p>
          <h2 class="value ion-text-wrap">{{ attack[field] }}</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

<!--   <ion-list>
    <!-- Typen -->
<!--        <ion-item-group topic>
      <ion-item-divider sticky="true">
        <ion-item slot="end" color="secondary" class="topic">
          <ion-label class="ion-text-wrap">Effektivitäten</ion-label>
        </ion-item>
      </ion-item-divider>

      <ion-item *ngIf="effectiveAgainst.length" lines="full">
        <ion-label slot="start" class="ion-text-wrap">sehr anfällig</ion-label>
        <ion-note>
          <app-type *ngFor="let type of effectiveAgainst" [type]="type"></app-type>
        </ion-note>
      </ion-item>

      <ion-item *ngIf="weakAgainst.length" lines="full">
        <ion-label slot="start" class="ion-text-wrap">widerstandsfähig</ion-label>
        <ion-note>
          <app-type *ngFor="let type of weakAgainst" [type]="type"></app-type>
        </ion-note>
      </ion-item>

      <ion-item *ngIf="noEffectAgainst.length" lines="full">
        <ion-label slot="start" class="ion-text-wrap">wird nicht getroffen</ion-label>
        <ion-note>
          <app-type *ngFor="let type of noEffectAgainst" [type]="type"></app-type>
        </ion-note>
      </ion-item>
    </ion-item-group>
  </ion-list>-->

  <ion-list>
    <!-- Monster -->
    <ion-item-group>
      <ion-item-divider sticky="true">
        <ion-item slot="end" color="secondary" class="topic">
          <ion-label class="ion-text-wrap">Monster</ion-label>
        </ion-item>
      </ion-item-divider>

      <app-filter-list-item 
        *ngFor="let monster of attack.showMonsters"
        [item]="monster"
        [routerLink]="['/monster-detail', monster.id]">
      </app-filter-list-item>

    </ion-item-group>
  </ion-list>
</ion-content>
