<app-named-header [item]="attack"></app-named-header>

<ion-content *ngIf="attack">
  <main class="container">
    <div class="types">
      <app-type *ngFor="let type of attack.types" [type]="type"></app-type>
    </div>

    <ion-list>
      <!-- Allgemeines -->
      <ion-item-group>
        <ion-item-divider sticky="true">
          <ion-item slot="end" color="secondary" class="topic">
            <ion-label class="ion-text-wrap">{{ 'attack-detail.topics.general' | translate }}</ion-label>
          </ion-item>
        </ion-item-divider>

        <ion-item *ngFor="let field of generalFields" lines="full">
          <ion-label>
            <p class="label ion-text-wrap">{{ ('attack-detail.fields.' + field) | translate }}</p>
            <h2 class="value ion-text-wrap">{{ attack[field] }}</h2>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>

  <!--   <ion-list>
      <!-- Typen -->
  <!--        <ion-item-group topic>
        <ion-item-divider sticky="true">
          <ion-item slot="end" color="secondary" class="topic">
            <ion-label class="ion-text-wrap">Effektivitäten</ion-label>
          </ion-item>
        </ion-item-divider>

        <ion-item *ngIf="effectiveAgainst.length" lines="full">
          <ion-label slot="start" class="ion-text-wrap">sehr anfällig</ion-label>
          <ion-note>
            <app-type *ngFor="let type of effectiveAgainst" [type]="type"></app-type>
          </ion-note>
        </ion-item>

        <ion-item *ngIf="weakAgainst.length" lines="full">
          <ion-label slot="start" class="ion-text-wrap">widerstandsfähig</ion-label>
          <ion-note>
            <app-type *ngFor="let type of weakAgainst" [type]="type"></app-type>
          </ion-note>
        </ion-item>

        <ion-item *ngIf="noEffectAgainst.length" lines="full">
          <ion-label slot="start" class="ion-text-wrap">wird nicht getroffen</ion-label>
          <ion-note>
            <app-type *ngFor="let type of noEffectAgainst" [type]="type"></app-type>
          </ion-note>
        </ion-item>
      </ion-item-group>
    </ion-list>-->

    <ion-list>
      <!-- Monster -->
      <ion-item-group>
        <ion-item-divider sticky="true">
          <ion-item slot="end" color="secondary" class="topic">
            <ion-label class="ion-text-wrap">{{ 'monsters' | translate }}</ion-label>
          </ion-item>
        </ion-item-divider>

        <app-filter-list-item 
          *ngFor="let monster of attack.showMonsters"
          [item]="monster"
          [routerLink]="['/monster-detail', monster.id]">
        </app-filter-list-item>

      </ion-item-group>
    </ion-list>
  </main>
</ion-content>
