.type-popover {

    // allow scrolling of overlay as one (backdrop & popover-content)
     overflow-y: auto;
     --max-height: unset !important;
    ion-backdrop { bottom: -2000px; }


    .minimal-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
    
        .info-own-type {
            display: flex;
            align-items: center;
        }
    }

    ul {
        padding: 0;

        .efficiency-tag {
            margin-left: 10px;
            text-transform: uppercase;
            font-size: small;
        }
    }

    hr {
        background-color: black;
        width: 85%;
        margin: 24px auto;
    }

    .direction-heading {
        display: block;
        text-align: center;
    }

    .efficiency-item {
        display: flex;
        align-items: center;
        padding: 4px 0;

        .icon { margin: 0 8px 0; }
    }
}