<ion-split-pane contentId="types" when="lg">
  <ion-menu contentId="types" side="end" [swipeGesture]="!(!displayTab || displayTab === 'overview')">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'types' | translate }}</ion-title>
      </ion-toolbar>
      <ion-segment [(ngModel)]="displayTab">
        <ion-segment-button value="overview">
          <ion-label>{{ 'type-sidecard.overview' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="calc">
          <ion-label>{{ 'efficiencies' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-header>
      
    <!-- don't use ngIf here to save state between load/unload cycles -->
    <app-type-overview [style.display]="(!displayTab || displayTab === 'overview') ? 'block' : 'none'"></app-type-overview>
    <app-type-calc [style.display]="displayTab === 'calc' ? 'block' : 'none'"></app-type-calc>
    
  </ion-menu>

  <ion-router-outlet id="types"></ion-router-outlet>
</ion-split-pane>