<ion-header class="container">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="item?.name" class="ion-text-wrap">{{ item.name }}</ion-title>

    <ion-buttons slot="end">
      <ion-menu-toggle autoHide="false">
        <ion-button (click)="openTypeOverview()">
          <ion-icon name="list" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>