<ion-tabs>

	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
	  <ion-fab-button fixed>
	  	<ion-icon name="information-circle-outline"></ion-icon>
	  </ion-fab-button>

		<ion-fab-list side="top">
	    <ion-fab-button [routerLink]="['/calc-typ']" routerDirection="forward">
				<ion-icon name="calculator"></ion-icon>
			</ion-fab-button>

	    <ion-fab-button [routerLink]="['/list-typen']" routerDirection="forward">
					<ion-icon name="list"></ion-icon>
			</ion-fab-button>
	  </ion-fab-list>
	</ion-fab>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="list-monster">
      <ion-icon name="outlet"></ion-icon>
      <ion-label class="ion-text-wrap">Monster</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-attacken">
      <ion-icon name="pulse"></ion-icon>
      <ion-label class="ion-text-wrap">Attacken</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
