// allow scrolling up
app-expanded-header, app-sticky-header {
    position: relative;
}


// whitespace not to be covered by footer / tabbar
.filtered-list { padding-bottom: 200px; }
ion-infinite-scroll { margin-bottom: 100px; }