<app-expanded-header id="expanded-header" class="container"
  [filter]="filter" [allTypes]="allTypes"
  (typeToggled)="toggleType($event)"
  (typeAndToggled)="toggleTypeAnd()"
  (rankOrderingChanged)="sortByRank(nextOrderingOf($event))">
</app-expanded-header>

<app-sticky-header id="sticky-header" class="container"
  [filter]="filter"
  (searchbarChanged)="updateOnSearchChanged($event)">
</app-sticky-header>

<ion-content
  appScrollHeader
  fullscreen="full"
  scrollEvents="true"
  scrollHeaderId="expanded-header"
  stickyHeaderId="sticky-header">

  <ion-text *ngIf="!monsters?.length" class="ion-text-center ion-text-wrap">
    <h2>{{ 'list.nothingFound' | translate }}</h2>
  </ion-text>

  <ion-list class="filtered-list container">
    <app-filter-list-item *ngFor="let monster of monsters" [item]="monster"></app-filter-list-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreOnScroll($event)" [disabled]="allPagesLoaded()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'list.infinite-scroll-loading' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
