.type-overview-popover {

    ion-slides {
        margin-top: 16px;

        ion-slide {
            margin-left: 1.5em;
            width: fit-content !important;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}