.type-overview-popover {

    ion-slides {
        margin-top: 16px;

        ion-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}