<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/list-monster"></ion-back-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button [routerLink]="['/list-typen']" routerDirection="forward">
				<ion-icon  name="information-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>

    <ion-title>{{ monster.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid fixed *ngIf="monster.id">
		<ion-row>
			<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
				<ion-img src="https://via.placeholder.com/300x300"></ion-img>
			</ion-col>

			<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
				<ion-button *ngFor="let icon of mon_typen_icons" size="small" shape="round" color="tertiary" disabled="true">
					<ion-icon [name]="icon" slot="icon-only"></ion-icon>
				</ion-button>

			  <ion-list>
			    <!-- Allgemeines -->
			    <ion-item-group>
			      <ion-item-divider>
							<ion-item slot="end" color="secondary">
			        	<ion-label>Allgemeines</ion-label>
							</ion-item>
			      </ion-item-divider>

			      <ion-item color="light">
			        <ion-label>Name</ion-label>
			        <ion-note slot="end">{{ monster.name }}</ion-note>
			      </ion-item>
						<ion-item color="light">
			        <ion-label>Rang</ion-label>
			        <ion-note slot="end">{{ monster.rang }}</ion-note>
			      </ion-item>
						<ion-item color="light">
			        <ion-label>Größe</ion-label>
			        <ion-note slot="end">{{ monster.groesse }} m</ion-note>
			      </ion-item>
						<ion-item color="light">
			        <ion-label>Gewicht</ion-label>
			        <ion-note slot="end">{{ monster.gewicht }} kg</ion-note>
			      </ion-item>
						<ion-item color="light">
			        <ion-label>HP</ion-label>
			        <ion-note slot="end">{{ monster.hp }} HP</ion-note>
			      </ion-item>
						<ion-item color="light">
			        <ion-label>Schadensverhinderung</ion-label>
			        <ion-note slot="end">{{ monster.schadensverhinderung }}</ion-note>
			      </ion-item>
						<ion-item color="light">
			        <ion-label>Habitat</ion-label>
			        <ion-note slot="end">{{ monster.habitat }}</ion-note>
			      </ion-item>
					</ion-item-group>
				</ion-list>
			</ion-col>

			<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
				<ion-list>
					<!-- Typen -->
					<ion-item-group>
						<ion-item-divider>
							<ion-item slot="end" color="secondary">
								<ion-label>Typen</ion-label>
							</ion-item>
						</ion-item-divider>

						<ion-item> <!-- for .. of list of effectiveeness -->
							<ion-label>anderes n-Mal gegen dieses</ion-label>
							<ion-note slot="end">bubbles here</ion-note>
						</ion-item>
					</ion-item-group>
				</ion-list>
			</ion-col>

			<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
				<ion-list>
					<!-- Attacken -->
					<ion-item-group>
						<ion-item-divider>
							<ion-item slot="end" color="secondary">
								<ion-label>Attacken</ion-label>
							</ion-item>
						</ion-item-divider>

						<ion-item detail *ngFor="let a of att_typen" [routerLink]="['/detail-attacke', a[0].id]" routerDirection="forward" color="light">
							<ion-label>{{ a[0].name }}</ion-label>
							<ion-button *ngFor="let icon of a[1]" size="small" shape="round" color="tertiary" disabled="true">
								<ion-icon [name]="icon" slot="icon-only"></ion-icon>
							</ion-button>
						</ion-item>
					</ion-item-group>
				</ion-list>
			</ion-col>

			<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
				<ion-list>
					<!-- Entwicklung -->
					<ion-item-group>
						<ion-item-divider>
							<ion-item slot="end" color="secondary">
								<ion-label>Entwicklung</ion-label>
							</ion-item>
						</ion-item-divider>

						<ion-item> <!-- for .. of list of effectiveeness -->
							<ion-label>list monsters here</ion-label>
						</ion-item>
					</ion-item-group>
				</ion-list>
			</ion-col>

		</ion-row>
	</ion-grid>
	<ion-text *ngIf="!monster.id">
		No Monster
	</ion-text>
</ion-content>
